@import "../../Themes/Colors.scss";

body{
    overflow-x: hidden;
}

.slider{
    background-image: url("../../../public/images/slider.jpg");
    height: 796px;
    max-width: 100%;
    position: relative;

    .slider-content{

        animation: textup 8s linear ;

        transform: translateY(50px);

        @keyframes textup{
            10%{
                transform: translateY(0px);
            }
            100%{
              transform: translateY(0px);
          }
        }

        h5{
            color: $pink;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        h1{
            color: $black;
            font-size: 46px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        p{
            color: grey;
            font-size: 16px;
        }

        .icons{
            margin-top: 220px;
            ul{
                display: flex;
                padding: 0px;
                align-items: start;

                li{
                    list-style-type: none;
                    padding-right: 30px;
                }
            }
        }
    }

}

.cloth{
    margin-left: 33.33%;
    margin-top: 100px;
    .clothing{
        position: relative;
        .clothing-content{
            position: absolute;
            top: 140px;
            letter-spacing: 1px;
        
            h2{
                font-size: 35px;
                font-weight: 700;
                color: $black;
                margin-bottom: 15px;
            }
            a{
               color:$black;
               text-decoration: none;
            //    margin-top: 25px;
               padding: 3px;
               font-size: 14px;
               font-weight: 700;
               letter-spacing: 2px;
               position: relative;
               border-radius: 1px;

               &::after{
                content: " ";
                background-color: $black;
                position: absolute;
                height: 2px;
                width: 100%;
                left: 0;
                transition: all .5s ease;
                bottom: -6px;
            }
            }
           
        }
        .clothing-img{
            margin-left: 250px;
        }

        &:hover{
            a::after{
                background-color: $pink;
                border-bottom: none;
                width: 50%;
             }
        }
    }
}

.flex{
    display: flex;
    margin-bottom: 100px;

    .accessories{
        flex: 40%;
        margin-left: 200px;
        margin-top: -70px;
    
        .accessories-content{
            margin-top: 30px;
            letter-spacing: 1px;
        
            h2{
                font-size: 35px;
                font-weight: 700;
                color: $black;
                margin-bottom: 15px;
            }
            a{
               color:$black;
               text-decoration: none;
            //    margin-top: 25px;
               padding: 3px;
               font-size: 14px;
               font-weight: 700;
               letter-spacing: 2px;
               position: relative;
               border-radius: 1px;
    
               &::after{
                content: " ";
                background-color: $black;
                position: absolute;
                height: 2px;
                width: 100%;
                left: 0;
                transition: all .5s ease;
                bottom: -6px;
                }
            }
        }

        &:hover{
            a::after{
                background-color: $pink;
                border-bottom: none;
                width: 50%;
             }
        }
    }

    .shoes{
        flex: 60%;
        position: relative;
        
        .shoes-content{
            position: absolute;
            top: 200px;
            letter-spacing: 1px;
        
            h2{
                font-size: 35px;
                font-weight: 700;
                color: $black;
                margin-bottom: 15px;
            }
            a{
               color:$black;
               text-decoration: none;
            //    margin-top: 25px;
               padding: 3px;
               font-size: 14px;
               font-weight: 700;
               letter-spacing: 2px;
               position: relative;
               border-radius: 1px;

               &::after{
                content: " ";
                background-color: $black;
                position: absolute;
                height: 2px;
                width: 100%;
                left: 0;
                transition: all .5s ease;
                bottom: -6px;
            }
            }
           
        }
        .shoes-img{
            display: block;
            text-align: right;
            margin-right: 200px;
            margin-top: 100px;
        }

        &:hover{
            a::after{
                background-color: $pink;
                border-bottom: none;
                width: 50%;
             }
        }
    }
    
}

.cardss{
    margin:0px 200px;
    display: flex;
}
.instagram{
    margin: 100px 200px;
    display: flex;

    .insta-content{
        margin-left: 50px;
        margin-top: 150px;

        h5{
            font-size: 30px;
            font-weight: 700;
        }

        p{
            margin-top: 20px;
            color: $dark-grey;
        }

        h2{
            margin-top: 50px;
            color: $pink;
            font-size: 36px;
            font-weight: 700;
        }
    }
}



