a{
    text-decoration: none;
    color: rgb(28, 28, 28);
    transition: .2s all ease;

    &:hover{
        color: rgb(31, 31, 31);
    }

}
option{
    background-color: white;
    border: 1px solid gray;
    border-radius: 0;
}
select{
    border: none;
    background:none ;
    padding: 5px;
    font-weight: 600;
    border-bottom: 1px solid #c7c7c7;

}
h2{
    color: red;
}
p{
    font-weight: 500;
}
.p-head-1{
    margin-left: 10%;
}
.p-head{
    background: #f3f2ee;
    
}
.data{
    display: grid;
    margin-left:5%;
    gap: 20px 60px;
    grid-template-columns: auto auto auto ;
   
}
.loader{
    margin: 300px 0 300px 0;
}

@media screen and (max-width: 1250px) {

    .data{
        display: grid;
        // transform: translateX(5);
        gap: 20px 60px;
        grid-template-columns: auto auto  ;
        
    }
    
    .fil{
        margin-left: 5%;
    }
}
@media screen and (max-width: 800px) {

    .data{
        display: grid;
        margin-top: 10%;
        transform: translateX(5%);
        // margin-right:20%;
        gap: 20px 60px;
        grid-template-columns: auto ;
        
    }
    
}