@import "../../Themes/Colors.scss";

.product-detail{
    .product-detail-data {
        .star{
        color: rgb(255, 174, 0);
        font-size: 18px;
        margin-top: 1px;
        margin-left: -3px;
        }
        .p{
            margin: 0 25%;
        }

        input[type="radio"]{
        -webkit-appearance: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        }
        label{
            border: 1px solid black;
            color: black;
            width: 10px;
            font-weight: bold;
            padding: 1px 20px 1px 20px ;
            margin-right: 20px;
            margin-top: -53px;
            justify-content: center;
            display: flex;
            transition: all .1s ease-in-out;
            cursor: pointer;
        }
        input[type="radio"]:checked + label{
            background-color: black;
            color: white;
        }

        .size{
           border-bottom: 2px solid black;
           cursor: pointer;
           width: fit-content;
        }
        .price{
        color: rgb(172, 172, 172);
        }
        .counter{
            margin-top: 28px;
            width: 100px;
            height: 40px;
            border: 1px solid rgb(224, 222, 222);
        }
    }
}
.pro-desc1{
    display: none;
}


@media (max-width: 1200px){
    .product-detail {
        .product-detail-data{
            .pro-desc{
                display: none;
            }
        }
    }
    .pro-desc1{
        display: block;
    }
}
@media (max-width: 768px){
    .product-detail {
        .product-detail-images{
            .grid{
                margin: 0 15%;
            }
        }
        .product-detail-data{
            margin-top: 5%;
        }
    }
}
@media (max-width: 390px){
    .product-detail {
        .product-detail-data{
            margin-left: 0px;
            label{
               margin-right: 10px;
            }
        }
    }
}
