@import "../../Themes/Colors.scss";

.product-detail{
    .product-detail-images{
        background-color: $light-grey;
    }
    .product-detail-data {
        .star{
        color: rgb(255, 174, 0);
        font-size: 18px;
        margin-top: 1px;
        margin-left: -3px;
        }
        .p{
            margin: 0 25%;
        }
        .price{
        color: rgb(172, 172, 172);
        }
        .counter{
            margin-top: 28px;
            width: 100px;
            height: 40px;
            border: 1px solid rgb(224, 222, 222);
        }
        .checkout{
            h5{
                position: relative;
                &::before{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 10px;
                    height: 1px;
                    width: 460px;
                    background: rgb(224, 222, 222);
                    content: "";
                    z-index: -1;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    .product-detail {
        .product-detail-data{
            .p{
                margin: 0 20%;
            }
        }
    }
}
@media (max-width: 768px){
    .product-detail {
        .product-detail-data{
            .p{
                margin: 0 15%;
            }
        }
    }
}
@media (max-width: 575px){
    .product-detail {
        .product-detail-data{
            .p{
                margin: 0 10%;
            }
        }
    }
}