.head{
    background-color: #111111;
}
.header{
    display: flex;
    
    margin-top: 0px;
    padding: 10px 0px;
 }
 .header-content{
    flex: 50%;
 }
 .header-content p{
    font-size: 16px;
    color: white;
    margin-bottom: 0px;
 }
 .nav-link{
    flex: 50%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: end;
 }
 .nav-link ul{
    display: block;
    margin: 0;
    padding: 0;
    text-align: end;
}
.nav-link ul li{
    color: white;
    list-style-type: none;
    margin: 0;
    padding:0 15px;
    display: inline;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;

    a{
      text-decoration: none;
      color: white;
      transition: .3s all ease;

      &:hover{
         color: rgb(255, 56, 56);
      }
    }
}
